@media screen and (min-width: 0px) and (max-width: 500px) {
	.not-ellipsed { display: none; }
	.ellipsed { display: inline; }
}

@media screen and (min-width: 501px) {
	.not-ellipsed { display: inline; }
	.ellipsed { display: none; }
}

@media screen and (min-width: 972px) {
	.container {
		width: 800px;
		margin-left:auto;
		margin-right:auto;
	}
}

body {
	padding-top:70px;
}
