body {
	font-family: calibri;
	background-color: #456;
	color: white;
}

.button {
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: 1px solid lightblue;
	color: #000126;
	border-radius: 5px;
	background-color: #478dad;
	padding: 0px 15px;
}
.button:hover {
	background: #f47c20;
}
.button:active {
	position: relative;
	top: 1px;
}

.data {
	border: 2px solid grey;
	border-radius: 5px;
	background-color: darkgrey;
	padding: 0px 12px;
}

.database {
	background-color: lightgrey;
	border-radius: 5px;
}