<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	{%- block title %}
	{%- endblock title %}
</head>

<body>

<nav class="navbar navbar-dark bg-primary fixed-top">
	<a class="navbar-brand" href="#">
		<img alt="Arky TBW" src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Ark_Ecosystem_Logo.svg" height="40px"/>
	</a>
</nav>

{%- block body %}
{%- endblock body %}

</body>
</html>
