{% extends "base.html" %}
{% from "pagination.html" import render_pagination %}
{% block title %}
	{{ username }} TBW live 
{% endblock title%}  
   
{% block content %}
	<div class="container"> 
		<h1 class="jumbotron">{{ username }} :: stats payment</h1>
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
			      	{% for itm in payments %}
						<li role="presentation" class="brand-nav"><a href="#{{ itm }}" aria-controls="{{ itm }}" role="tab" data-toggle="tab">{{ itm }}</a></li>
					{% endfor %}      
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						{% for itm in payments %}
						<div role="tabpanel" class="tab-pane active" id="{{ itm }}">
							<table class="table-responsive"
								<tr>
									<td>Payment date</td>
									<td>{{ payments[itm]['timestamp'] }}</td>
									<td>Shared amount</td>
									<td>{{ "%.2f" % (payments[itm]['amount']) }}
								</tr>
								{% for address, ratio in payments[itm]['weight'].iteritems() %}
								<tr>
									<td>{{ address }}</td>
									<td>{{ ratio|float * payments[itm]['amount']|float }}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
						{% endfor %}
			      	</div>
			  	</div>
			</div>
		</div>
	</div>
{% endblock content %}

