{% extends "base.html" %}
{% from "pagination.html" import render_pagination %}
{% block title %}
	{{ username }} TBW live 
{% endblock title%}  

{% block content %}
	<div class="container"> 
		<h1 class="jumbotron">{{ username }} :: stats payment</h1>
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
			      	{% for itm in payments|sort %}
						<li role="presentation" class="brand-nav {% if loop.first %}active{% endif %}"><a href="#{{ itm[:-4]|replace('-','') }}" aria-controls="{{ itm }}" role="tab" data-toggle="tab">{{ itm[:-4] }}</a></li>
					{% endfor %}      
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						{% for itm in payments|sort %}
						<div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="{{ itm[:-4]|replace('-','') }}">
							<section class=table-responsive>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Payment date</th>
										<th>Shared amount</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ payments[itm]['timestamp']|datetime('full') }}</td>
										<td>{{ "%.2f" % (payments[itm]['amount']) }}
									</tr>
								</tbody>
							</table>
							</section>
							<section class=table-responsive>
							<table class="table table-striped table-condensed table-bordered">
								<thead>
									<tr>
										<th>Address</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									{% for address, ratio in payments[itm]['weight']|dictsort(true,'value',true) %}
									<tr>
										<td>{{ address }}</td>
										<td>{{ ratio|float * payments[itm]['amount']|float }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							</section>
						</div>
						{% endfor %}
			      	</div>
			  	</div>
			</div>
		</div>
	</div>
{% endblock content %}

