{% extends "base.html" %}

{%- block title %}
<title>Delegate page</title>
{%- endblock title %}


{%- block body %}
<div class="container">
{%- set public_key = config.pop("publicKey") %}
	<h1>{{ username }}</h1>
	<div class="alert alert-info">
		<strong>&#9881;&nbsp;Delegate configuration</strong>
		<hr/>
		<table class="table table-sm table-striped table-hover table-primary table-responsive">
			{%- for key,value in config.items() %}
			<tr>
				<th>{{ key }}</th>
				<td width="100%">{{ ("%.1f&nbsp;%%"%(value*100) if key == "share" else _currency(value) if key in ["minimum_vote", "threshold"] else _address(value) if key == "wallet" else value) | safe }}</td>
			</tr>
			{%- endfor %}
		</table>
	</div>
	<div class="alert alert-info">
		<strong>&#9878;&nbsp;<a href="/{{username}}/history/0/5">Payroll history</strong></a>
	</div>
	<div class="alert alert-info">
{%- if "contributions" in forgery and "share" in config %}
	{%- set share = config["share"] %}
	{%- set total = (forgery["contributions"].values() | sum) %}
		<strong>&#9874;&nbsp;{{ forgery["blocks"] }}&nbsp;blocks :: {{ _currency(total) }} :: {{ _currency(forgery["fees"]) }} :: {{ forgery["contributions"] | length }} voters </strong>
		<hr/>
		<table class="table table-sm table-primary table-striped table-hover table-responsive">
			<thead class="thead-light">
				<tr>
					<th>#</th>
					<th width="100%">Voter address</th>
					<th>Weight</th>
					<th style="text-align:right;">Share</th>
				</tr>
			</thead>
			<tbody>
			{%- for key,value in forgery["contributions"].items() %}
				<tr style="color:{{ 'grey' if value*share < config['threshold'] else 'black' }}">
					<th>{{ loop.index }}</th>
					<td>{{ _address(key) }}</td>
					<td style="text-align:center;">{{ ("%.3f&nbsp;%%" % (100*value/total) if total > 0 else "&#9877;") | safe }}</td>
					<td style="text-align:right;">{{ _currency(value*share) }}</td>
				</tr>
			{%- endfor %}
			</tbody>
		</table>
{%- endif %}
	</div>
</div>
{%- endblock body %}
