{% extends "base.html" %}

{%- block title %}
<title>Delegate page</title>
{%- endblock title %}


{%- block body %}
<div class="container">
{%- set public_key = config.pop("publicKey") %}
	<h1>{{ username }}</h1>
	<div class="alert alert-info">
		<strong>&#9881;&nbsp;Delegate configuration</strong>
	</div>
	<table class="table table-sm table-striped table-hover table-primary">
		{%- for key,value in config.items() %}
		<tr>
			<th>{{ key }}</th>
			<td width="100%">{{ ("%.1f&nbsp;%%"%(value*100) if key == "share" else _currency(value) if key == "threshold" else value) | safe }}</td>
		</tr>
		{%- endfor %}
	</table>
	<div class="alert alert-info">
		<strong>&#9878;&nbsp;<a href="/{{username}}/history/0/5">Last payrolls</strong></a>
	</div>
	<div class="alert alert-info">
		<strong>&#9874;&nbsp;Live forgery</strong>
	</div>
{%- if "contributions" in forgery and "share" in config %}
	{%- set share = config["share"] %}
	{%- set total = (forgery["contributions"].values() | sum) %}
	<table class="table table-sm table-primary table-striped table-hover table-responsive-sm">
		<thead class="thead-light">
			<tr>
				<th width="100%">Voter address</th>
				<th>Weight</th>
				<th style="text-align:right;">Share</th>
			</tr>
		</thead>
		<tbody>
		{%- for key,value in forgery["contributions"].items() %}
			<tr>
				<th>
					<span class="not-ellipsed">{{ key }}</span>
					<span class="ellipsed">{{ key[:5] }}&nbsp;&#x2026;&nbsp;{{ key[-5:] }}</span>	
				</th>
				<td style="text-align:center;">{{ ("%.1f&nbsp;%%" % (100*value/total) if total > 0 else "&#9877;") | safe }}</td>
				<td style="text-align:right;">{{ _currency(value*share) }}</td>
			</tr>
		{%- endfor %}
		</tbody>
	</table>
{%- endif %}
</div>
{%- endblock body %}
