{% extends "base.html" %}

{%- block title %}
<title>Frequently asked questions</title>
{%- endblock title %}

{%- block nav %}
<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item active">
	<a class="nav-link disabled" href="/faq">FAQ<span class="sr-only">(current)</span></a>
</li>
{%- endblock nav %}

{%- block body %}
{%- set tph = 3600/(info.blocktime * info.delegate)*info.blockreward %}

<div class="container">
	<h1>FAQ</h1>
<div class="alert alert-info"><strong>How does vote-reward work&nbsp;?</strong></div>
<p>
Voting for a delegate helps to push it within the top {{ info.delegate }} to be
allowed to forge blocks. Then, its associated node can puts transactions
in a block, signs it and inserts it into the blockchain. For each forged block,
the delegate wallet receives {{ _currency(2, "d") }}
plus the fees of forged transaction(s).
</p>
<p>
The one runing this delegate may decide to share his reward to his voters. The
most common way is to distribute rewards according to individual vote weight. With
{%- for username in delegates %}{%- if loop.first %}{%- elif loop.last %} or {%- else %}, {%- endif %} {{ username }}{%- endfor %}
, the share is computed and distributed according to vote weight each
time a block is forged. It is the True Block Weight mechanism.
</p>
<p>
Important thing to notify here is that your vote weight might fluctuate between
two forged block according to total vote variation.
</p>
	
<div class="alert alert-info"><strong>How much may I get&nbsp;?</strong></div>
<p>
Since {{ info.network }} network is running, the average delay between two blocks is {{ "%.3f" % info.blocktime }}&nbsp;seconds.
A delegate forges a block every {{ "%.3f" % (info.blocktime*info.delegate) }}&nbsp;seconds (average blocktime x delegate number)
that makes {{  _currency(tph) }} per hour. So on a daily basis, the maximum a
delegate could distribute is {{  _currency(tph*24) }}.
</p>

{%- for username in delegates %}
<div style="padding:0px;padding-bottom:20px;">
<span class="input-group input-group-sm">
	<div class="input-group-prepend">
		<span class="input-group-text">
			<input id="voted_{{ username }}" type="checkbox" 
				   title="Select if you already up voted {{ username }}"
				   data-toggle="tooltip" data-placement="bottom"
			       onclick="computeReward('{{ username }}', {{ delegates[username].share }}, {{ delegates[username].votes }}, {{ tph*24 }}, '{{ info.symbol | safe }}')" />
			<label for="voted_{{ username }}" class="form-check-label">&nbsp;<span class="not-ellipsed">Already </span>voted</label>
		</span>
		<span class="input-group-text not-ellipsed">{{ username }}</span>
	</div>
	<input id="vote_{{ username }}" type="number" class="form-control" placeholder="your balance" 
	       onkeyup="computeReward('{{ username }}', {{ delegates[username].share }}, {{ delegates[username].votes }}, {{ tph*24 }}, '{{ info.symbol | safe }}')"/>
	<input id="estimate_{{ username }}" readonly type="text" class="form-control" placeholder="your share" />
	<div class="input-group-append">
		<span id="AIR_{{ username }}" class="input-group-text" title="Annual interest rate"
			  data-toggle="tooltip" data-placement="bottom"
			  onmouseover="this.tooltip('show')">%</span>
	</div>
</span>
<input type="button" value="Check out the chart about {{ username }} AIR" class="btn btn-primary btn-sm" style="margin-top:2px;" data-toggle="modal" data-target="#details_{{ username }}" />
</div>
<!-- Modal -->
<div class="modal fade" id="details_{{ username }}" tabindex="-1" role="dialog" aria-labelledby="modal_{{ username }}" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<embed type="image/svg+xml" src="{{ url_for('static', filename='air_%s.svg' % username) }}" style="padding:0px;" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
{%- endfor %}

<div class="alert alert-info"><strong>Can I withdraw part of my voting wallet&nbsp;?</strong></div>
<p>
Yes. Because sometime trading {{ info.symbol | safe }} is interesting, it is
allowed to withdraw part of the wallet but your relative vote weight will decrease.
<ul class="alert-warning">
{%- for username in delegates %}
<li>If you voted for {{ username }}
{%- if delegates[username].minimum_vote %}
you will have to keep a minimum of {{ _currency(delegates[username].minimum_vote,) }}.</li>
{%- else %}
you will have to keep a minimum of {{ _currency(1) }}.</li>
{%- endif %}
{%- endfor %}
</ul>
</p>

<div class="alert alert-info"><strong>Do I need to register somewhere&nbsp;?</strong></div>
<p>
No. You only have to vote for
{%- for username in delegates %}{%- if loop.first %}{%- elif loop.last %} or {%- else %}, {%- endif %} {{ username }}{%- endfor %}
using
<a href="https://docs.ark.io/tutorials/usage-guides/how-to-use-ark-desktop-wallet.html#voting-for-a-registered-delegate-and-unvoting" target="_">Ark Desktop Wallet</a>.
<ul class="alert-warning">
{%- for username in delegates %}
{%- if delegates[username].minimum_vote %}
<li>
If you voted for {{ username }} you will need a minimum of
{{ _currency(delegates[username].minimum_vote) }}.
</li>
{%- endif %}
{%- endfor %}
</ul>
</p>

<div class="alert alert-info"><strong>Will I get my pending reward if I down vote delegate&nbsp;?</strong></div>
<p>
No. Once
{%- for username in delegates %}{%- if loop.first %}{%- elif loop.last %} or {%- else %}, {%- endif %} {{ username }}{%- endfor %}
down voted, the undistributed share is redistributed to
the other voters.
</p>
</div>

<script language="javascript">
function computeReward(username, share, totalvote, daily_forged, symbol){
	var balance = parseInt(document.getElementById("vote_"+username).value);
	if (document.getElementById("voted_"+username).checked){
		if (balance > totalvote){share = 0}
		else {share *= daily_forged * balance / totalvote}
	}
	else {
		share *= daily_forged * balance / (totalvote+balance);
	}
	document.getElementById("estimate_"+username).value = share>0?(share).toFixed(3) + " "+symbol+"/day":"";
	document.getElementById("AIR_"+username).innerText = share>0?(share*365/balance*100).toFixed(1)+"%":"%";
}
</script>
{%- endblock body %}
