{% extends "base.html" %}

{%- block title %}
<title>Payroll history</title>
{%- endblock title %}

{%- block nav %}
<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="/faq">FAQ</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/{{ username }}">Back to forgery</a>
</li>
{%- endblock nav %}

{%- block body %}
{%- if page_number > 0 %}
<div class="container">
	<h1>{{ username }} payrolls</h1>
	<nav aria-label="payroll navigation">
		<ul class="pagination">
			<li class="page-item{{' disabled' if curent_page == 0 else ''}}">
				<a
					class="page-link"
					href="/{{username}}/history/{{ [0, curent_page-1] | max }}/{{entry_number}}"
				><span class="ellipsed">&#10094;</span><span class="not-ellipsed">Previous</span></a>
			</li>
		{%- for page in range(page_number) %}
			{%- if page < 2 or page >= page_number-2 %}
			<li class="page-item{{' active' if page == curent_page else ''}}">
				<a class="page-link" href="/{{username}}/history/{{page}}/{{entry_number}}">{{ page+1 }}</a>
			</li>
			{%- endif %}
			{%- if page_number > 4 and loop.index == 2 %}
			&nbsp;
			<li class="page-item{{' active disabled' if page in range(2,page_number-3,1) else ''}}">
				<a class="page-link" href="#">&#x2026;</a>
			</li>
			&nbsp;
			{%- endif %}
		{%- endfor %}
			<li class="page-item{{' disabled' if curent_page == page_number-1 else ''}}">
				<a
					class="page-link"
					href="/{{username}}/history/{{ [curent_page+1, page_number-1] | min }}/{{entry_number}}"
				><span class="ellipsed">&#10095;</span><span class="not-ellipsed">Next</span></a>
			</li>
		</ul>
	</nav>
</div>
{%- endif %}

<div class="container">
<div class="accordion" id="payrollList">
{%- for item in selection %}
	{%- set name = "_"+item.replace(".", "").replace("-","") %}
	<div class="card">
		<div class="card-header" id="{{ name }}">
			<button
				class="btn btn-link btn-sm btn-block text-left"
				data-toggle="collapse"
				data-target="#collapse{{ name }}"
				aria-expanded="{{ 'true' if loop.index == 1 else 'false' }}"
				aria-controls="collapse{{ name }}"
				href="#"
				style="font-weight:bold;"
			>&#10004;&nbsp;{{ data[item].get("timestamp", item[:4]+"-"+item[4:6]+"-"+item[6:8]+" "+item[9:11]+":"+item[11:13])[:16] }}</a>
		</div>
		<div class="collapse {{ 'show' if loop.index == 1 else 'hide' }} bg-info"
			id="collapse{{ name }}"
			aria-labelledby="{{ name }}"
			data-parent="#payrollList"
		>
			<div class="card-body">
				<table class="table table-hover table-primary table-sm table-striped table-responsive">
			{%- for (key,value) in data[item].items() if key not in ["weight", "timestamp", "delegate-share"] %}
				<tr><th>{{ key }}</th><td width="100%">{{ _currency(value) }}</td></tr>
			{%- endfor %}
				</table>
{# 
	limit number of record to show in a modal for
	performance issue
 #}
{%- if (details[item] | length) <= 50 %}
				<button 
					class="btn btn-warning"
					data-toggle="modal"
					data-target="#details{{ name }}"
				>Details</button>
<!-- Modal -->
<div class="modal fade" id="details{{ name }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ name }}" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal{{ name }}">Distribution details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<table class="table table-striped table-hover table-primary table-sm table-responsive">
<thead class="thead-light">
	<tr>
		<th>#</th>
		<th>Recipient Id</th>
		<th style="text-align:right;">Amount</th>
	</tr>
</thead>
<tbody>
{%- for reccord in details[item] %}
<tr>
	<td>{{ loop.index }}</td>
	<th width="100%">{{ _address(reccord["address"]) }}</th>
	<td style="text-align:right;">{{ _currency(reccord["amount"]) }}</td>
</tr>
{%- endfor %}
</tbody>
</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
{%- else %}
				<a 
					role="button"
					class="btn btn-warning"
					href="/{{username}}/history/{{curent_page}}/{{entry_number}}/{{item}}"
				>Details</a>
{%- endif%}
			</div>
		</div>
	</div>
{%- endfor %}
</div>
</div>

<script>
function getAnchor() {
	urlParts = document.URL.split('#');
	return (urlParts.length > 1) ? urlParts[1] : null;
}

var anchor = getAnchor();
var target = document.getElementById(anchor).parentElement;

if (target){
	var card0 = document.getElementById("payrollList").children[0];
	// hide first card
	card0.getElementsByTagName('button')[0].setAttribute("aria-expanded", false)
	card0.getElementsByTagName('div')[1].setAttribute("class", "collapse hide bg-info")
	// show targeted card
	target.getElementsByTagName('button')[0].setAttribute("aria-expanded", true)
	target.getElementsByTagName('div')[1].setAttribute("class", "collapse show bg-info")
}
</script>
{%- endblock body %}
