{% extends "layout.html" %}
{% block body %}
<center>
	<h1>Transaction history :: {{ value }}</h1>
	{%- set nb_record = g.rows.__len__() %}
	{%- set curent_page = start//number %}
	{%- set total_page = nb_record//number %}
	{%- set prev = curent_page - 1 %}
	{%- set next = curent_page + 1 %}
	{%- set last = total_page %}
	<p>
		<a class="button" href="/">True BLock Weight live</a>
	</p>
	<p>
		<a class="button" href="/history/{{ field }}/{{ value }}/0/{{ number }}">&lt;&lt;</a>
		<a class="button" href="/history/{{ field }}/{{ value }}/{{ (prev if prev >= 0 else 0)*number }}/{{ number }}">&lt;</a>&nbsp;
		<a class="button" href="/history/{{ field }}/{{ value }}/{{ (next if next <= last else last)*number }}/{{ number }}">&gt;</a>
		<a class="button" href="/history/{{ field }}/{{ value }}/{{ last*number }}/{{ number }}">&gt;&gt;</a>
	</p>
	<p> Page {{ curent_page+1 }} over {{ total_page+1 }} :: {{ nb_record }} transactions :: {{ g.rows|sum(attribute="amount") }}&nbsp;&#1126;</p>
	<table cellspacing="5" class="database">
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Transaction id</th>
			<th></th>
		</tr>
	{%- for row in g.rows[start:start+number] %}
		<tr>
			<td class="data">{{ row["date"] }}</td>
			<td class="data">{{ row["amount"] }}&nbsp;&#1126;</td>
			<td class="data">{{ row["id"] }}</td>
			<td><a class="button" style="padding:2px;" href="{{ explorer }}/transaction/{{ row["id"] }}" target="_blank">&#128506;</a></td>
		</tr>
	{%- endfor %}
	</table>
</center>
{% endblock %}
