{% extends "base.html" %}

{%- block title %}
<title>History</title>
{%- endblock title %}

{%- block body %}
{%- if page_number > 0 %}
<div class="container">	
<nav aria-label="payroll navigation">
	<ul class="pagination">
		<li class="page-item{{' disabled' if curent_page == 0 else ''}}">
			<a
				class="page-link"
				href="/{{username}}/history/{{ [0, curent_page-1] | max }}/{{entry_number}}"
			><span class="ellipsed">&laquo;</span><span class="not-ellipsed">Previous</span></a>
		</li>
	{%- for page in range(page_number) %}
		{%- if page < 2 or page >= page_number-2 %}
		<li class="page-item{{' active' if page == curent_page else ''}}">
			<a class="page-link" href="/{{username}}/history/{{page}}/{{entry_number}}">{{ page+1 }}</a>
		</li>
		{%- endif %}
		{%- if page_number > 4 and loop.index == 2 %}
		&nbsp;
		<li class="page-item{{' active disabled' if page in range(2,page_number-3,1) else ''}}">
			<a class="page-link" href="#">&#x2026;</a>
		</li>
		&nbsp;
		{%- endif %}
	{%- endfor %}
		<li class="page-item{{' disabled' if curent_page == page_number-1 else ''}}">
			<a
				class="page-link"
				href="/{{username}}/history/{{ [curent_page+1, page_number-1] | min }}/{{entry_number}}"
			><span class="ellipsed">&raquo;</span><span class="not-ellipsed">Next</span></a>
		</li>
	</ul>
</nav>
</div>
{%- endif %}

<div class="container">
<div class="accordion" id="payrollList">
{%- for item in selection %}
	{%- set name = "_"+item.replace(".", "").replace("-","") %}
	<div class="card">
		<div class="card-header" id="{{ name }}">
			<button
				class="btn btn-link btn-sm btn-block text-left"
				data-toggle="collapse"
				data-target="#collapse{{ name }}"
				aria-expanded="{{ 'true' if loop.index == 1 else 'false' }}"
				aria-controls="collapse{{ name }}"
				href="#"
				style="font-weight:bold;"
			>{{ data[item]["timestamp"][:16] }}</a>
		</div>
		<div class="collapse {{ 'show' if loop.index == 1 else 'hide' }}"
			id="collapse{{ name }}"
			aria-labelledby="{{ name }}"
			data-parent="#payrollList"
		>
			<div class="card-body">
				<table class="table table-hover table-dark table-sm">
			{%- for (key,value) in data[item].items() if key not in ["weight", "timestamp", "delegate-share"] %}
				<tr><td width="100%">{{ key }}</td><td style="text-align:right;">{{ _currency(value) }}</td></tr>
			{%- endfor %}
				</table>
				<button 
					type="button"
					class="btn btn-info"
					data-toggle="modal"
					data-target="#details{{ name }}"
				>Details</button>
<!-- Modal -->
<div class="modal fade" id="details{{ name }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ name }}" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal{{ name }}">Distribution details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<table class="table table-striped table-hover table-dark table-sm table-responsive-sm">
<thead class="thead-light">
	<tr>
		<th>Recipient Id</th>
		<th style="text-align:right;">Amount</th>
	</tr>
</thead>
<tbody>
{%- for reccord in details[item] %}
<tr>
	<td width="100%">
		<span class="not-ellipsed">{{ reccord["address"] }}</span>
		<span class="ellipsed">{{ reccord["address"][:5] }}&nbsp;&#x2026;&nbsp;{{ reccord["address"][-5:] }}</span>
	</td>
	<td style="text-align:right;">{{ _currency(reccord["amount"]) }}</td>
</tr>
{%- endfor %}
</tbody>
</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
			</div>
		</div>
	</div>
{%- endfor %}
</div>
</div>
{%- endblock body %}
