{% extends "base.html" %}

{%- block title %}
<title>Delegate page</title>
{%- endblock title %}

{%- block body %}
{%- for account in accounts %}
	{%- set blocks = account.pop("blocks", {}) %}
	{%- set forged = account.pop("forged") %}
	{%- set productivity = account.pop("production") %}
	{%- set public_key = account.pop("publicKey") %}
	{%- set username = account.pop("username") %}
<div class="container">
	<h1><a href="/{{username}}">{{ username }}</a></h1>
	<table class="table table-sm table-striped table-hover table-info table-responsive">
		{%- for key,value in account.items() %}
		<tr>
			<th>{{ key }}</th>
			<td width="100%">
			{%- if key == "address" %}
				{{ _address(value) }}	
			{%- elif key == "votes" %}
				{{ _currency(value) }}
			{%- else %}
				{{ value }}
			{%- endif %}
			</td>
		</tr>
		{%- endfor %}
		<tr>
			<th>productivity</th>
			<td>{{ "%s %%" % productivity["productivity"] }}</td>
		</tr>
		<tr>
			<th>forgery</th>
			<td>{{ _currency(forged["total"]/100000000.0) }}</td>
		</tr>
		{%- if "last" in blocks %}
		<tr>
			<th>last block</th>
			<td>{{ blocks["last"]["timestamp"]["human"].replace("T", " ") }}</td>
		</tr>
		{%- endif %}
	</table>
</div>
<div class="container" id="chart_{{ username }}">
   <embed type="image/svg+xml" src="{{ charts[username]|safe }}" width="100%"/>
</div>
{%- endfor %}
{%- endblock body %}
